/target/
**/*.rs.bk
*.pdb
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.rlib
*.rmeta

.idea/
.vscode/
*.code-workspace
*.swp
*.swo
*~

.DS_Store
Thumbs.db

lang_pref.txt
*.txt
nyado.zip

.history/
*.log
*.pid
*.seed
*.pid.lock